body {
    text-align: center;
    background-image: url(https://thumbs.gfycat.com/PartialSecretAnaconda-max-1mb.gif);
}

h1 {
    font-size: 80px;
    font-style: oblique;
    color: rebeccapurple;
    text-shadow: 2px 2px orange;
}
